* {
  padding: 0;
  margin: 0;
}
/* header section styles */
nav {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  align-items: center;
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 17px;
  font-style: italic;
}
/* banner section styles */
.banner-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: url("./asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}
.banner-header {
  text-align: center;
  color: white;
  font-size: 55px;
}
.banner-description {
  max-width: 500px;
  margin: 10px auto;
  color: white;
  text-align: center;
  font-size: 18px;
}
.primary-color {
  color: red;
}
.btn-primary {
  color: white;
  background-color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.btn-secondary {
  color: black;
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.banner-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* service section styles */
.service-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
.btn-service {
  background-color: aliceblue;
  color: grey;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  margin-top: 150px;
}
.service-header {
  color: white;
  margin-top: 15px;
}
.service-description {
  color: white;
  max-width: 400px;
  font-size: 15px;
  margin-top: 15px;
}
.service-profile > img {
  width: 70px;
  border-radius: 50%;
}
ol {
  margin-top: 30px;
  color: white;
}
.service-footer {
  display: flex;
}
.service-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 30px 150px 0;
}
.author {
  padding-right: 50px;
  border-right: 2px solid red;
}
.service-profile > h3 {
  color: white;
}
.service-footer-btn {
  background-color: aliceblue;
  color: red;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
}
.service-boxes {
  padding-top: 50px;
}
.row {
  display: flex;
}
.box {
  background-color: white;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
}
.box h3 {
  color: black;
}
.box img {
  margin: 40px auto 10px;
  width: 100px;
}
/* appoint section styles */
.appointment {
  display: flex;
  justify-content: center;
}
.appointment-container {
  background-color: red;
  width: 68vw;
  height: 100px;
  border-radius: 10px;
  display: flex;
  margin-top: -50px;
}
.phone {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
  border-right: 2px solid wheat;
}
.phone img {
  width: 50px;
}
.phone > h4,
h3 {
  color: white;
}
.appointment-description {
  color: white;
  max-width: 400px;
  padding: 20px 20px;
}
.appointment-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-appointment {
  background-color: aliceblue;
  color: grey;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
}
